<div class="container"> 
<br>
 <br>  
<form>
  <br>
  <div class="box">
    Select an Event:
  <select ng-model="myVar">
    <option value="">
    <option value="birthday">Birthday
    <option value="anniversary">anniversary
  </select>
  </div>
</form>
<div ng-switch="myVar">
  <div ng-switch-when="birthday">
     <!--<h1>Birthday</h1>-->
     <p>Welcome to my birthday page</p>
  </div>
  <div ng-switch-when="anniversary">
     <!--<h1>Anniversary</h1>-->
     <p>Welcome to my Anniversary page</p>
  </div>
</div>
  <br>
 <form ng-submit="$ctrl.saveEvent()">
    <div class="form-group">
      <label for="eventName">Enter Gift Item</label>
      <!--I want to add a dropdown to this -->
      <input ng-model="$ctrl.event.name" type="text" class="form-control" id="eventName" placeholder="Enter gift item">
      <button type="submit" class="btn btn-primary">Submit</button>
     </div>
  </form>
  <form ng-submit="$ctrl.saveEvent()">
    <div class="form-group">
      <label for="eventName">Enter Link</label>
      <!--I want to add a dropdown to this -->
      <input ng-model="$ctrl.event.name" type="text" class="form-control" id="eventName" placeholder="Enter Link">
      <button type="submit" class="btn btn-primary">Submit</button>
     </div>
  </form>


</div>



