<div class="div4">
  <h1><strong>PROFILE</strong></h1>
</div>
<form ng-submit="$ctrl.updateProfile()">
    <div class="div3">
      <button ui-sref="editProfile({id: $ctrl.profile.id})">Edit Profile</button>
      <button ng-click="$ctrl.deleteProfile($ctrl.profile.id)">Delete</button>
      <button ui-sref="home"> Go Back </button>
    </div>
</form>
<br>
<h1>{{$ctrl.profile.first_name}} {{$ctrl.profile.last_name}}</h1>
<h1>{{$ctrl.profile.birthdate}}</h1> <h1>{{$ctrl.profile.address}}</h1>
<h1>{{$ctrl.profile.city}}</h1>
<h1>{{$ctrl.profile.gender}}</h1>
<img>{{$ctrl.profile.img}}</img>