<div class="div4">
<h1><strong>Edit Your Event</strong></h1>
<div class="div5">
<form ng-submit="$ctrl.updateEvent()">
  <div class="form-group">
    <div class="col-sm-5">
      <input type="text" ng-model="$ctrl.event.name" class="form-control" id="name" placeholder="Event Name Here">
    </div>
  </div>
    <br>
    <br>
  <div class="form-group">
    <div class="col-sm-5">
      <input type="text" ng-model="$ctrl.event.category" class="form-control" id="category" placeholder="What is the category?">
    </div>
  </div>
  <br>
  <br>
  <div class="div 6">
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </div>
</form>
</div>

<!--<br>
<br>
<h2>{{$ctrl.event.name}}</h2>

<h2>{{$ctrl.event.category}}</h2>-->