<div class="col-lg-12 col-lg-offset-2">
    <!--<h1>{{$ctrl.hello}}</h1>-->
        <h2 ng-if="$ctrl.user">{{$ctrl.user.username}}</h2>

    <div class="div1">
        <p id="bounceTxt">WELCOME</p>
    </div>
    <div class="div2">
            WELCOME TO GIFT A FRIEND
            the web-site that you don't have to guess
            what to get a friend.     
    </div>
            
<script>
  var 
    myText = document.getElementById("bounceTxt").innerHTML,
    wrapText = "";

for (var i=0; i<myText.length; i++) {
     wrapText += "<em>" + myText.charAt(i) + "</em>";
}

document.getElementById("bounceTxt").innerHTML = wrapText;

var 
    myLetters = document.getElementsByTagName("em"),
    j = 0;

function applyBounce() {
     setTimeout(function() {
          myLetters[j].className = "bounce-me";
          j++;
          
          if (j < myLetters.length) {
               applyBounce();
          }
    }, 250);
}

applyBounce();
</script>