body {
    background-image: url(http://www.planwallpaper.com/static/images/blurry-lights-background.jpg);
    background-repeat: no-repeat;
    margin-right: 5px;
    
}
h1 {
   font-family: 'Lemonada', cursive; 
   font-size: 2.5em; /* 40px/16=2.5em */
   text-align: center; 
   color: crimson;   
}

h2 {
    font-family: 'Lemonada', cursive;
    text-align: center;
}
h3 {
    font-family: 'Lemonada', cursive;
    text-align: center;
    color: crimson;

}

nav navbar-nav {
    color: black;
}

.event-container {
    text-align: center;
}
a {
    text-align: right;
}