body {
    background-image: url(http://style.giftcart.com/skin/frontend/default/giftcart/images/gift-wizard-menu-img.gif);
    background-repeat: no-repeat;
    margin-right: 200px;
}
h1, h3 {
   font-family: 'Lemonada', cursive; 
   text-align: center; 
}
.event-container {
    text-align: center;
}
a {
    text-align: right;
}